@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

 /* WILDCARD */
*{
  font-family: 'Roboto', sans-serif;
  box-sizing:border-box;   
}
/* telephone */

form,header,section {
  text-align: center;
}

footer section {
  text-align: left;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}
body > div:nth-child(2) > header{
  background-color: #fff;
  padding: 0;
}

/* form */
form {
  font-weight: bold;
  font-size: 1.3rem;
  border-top: 5px solid #d6d2d2;
  background-color: #eeebeb; 
  padding: 17px 0px;
}

form span {
  margin-left: 10px;
}

/* header */
header { 
  background-color: #f2f2f2;
  padding: 30px 0;
  margin-left:0px;
  text-align: center;  
}

header h1 {
  font-size: 1.6rem;
  margin: 0;
  padding: 20px 45px 20px 45px;
 
}

header p {
  font-size: 1.2rem;
  text-align: center;
  color: #8f8e8e;
  padding-bottom:  30px;
}

body > div:nth-child(2) > main > header > a {
  border-radius: 50px;
  color: white;
  margin: 40px;
  padding: 25px;
  background: linear-gradient(#ff79da,#9356DC);
  display:flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

/* section */
section {
  padding-bottom: 40px;
}

section h2 {
  text-align: left;
  padding: 30px 0 5px 20px;
  
}
.fa-1,.fa-2,
.fa-3 {
  display: block;
  font-size: 0.7rem;
  background-color: #9356DC;
  color:#fff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 8px 10px;
  
}

.fa-solid.fa-mobile-screen,.fa-solid.fa-bars {
  color:#8f8e8e;
  padding: 5px 0px 0 20px;
}

button
.fa-store {
  color:#9356DC;
  padding: 5px 0px 0 20px;
}

.fa-1,.fa-2,.fa-3,
.fa-mobile-screen,.fa-bars,.fa-store {
  margin-right: 10px;
}

section span {
  padding-top: 5px;
}

button {
  display: flex;
  align-items: flex-start;
  border:1px solid #fff ;
  border-radius: 15px;
  margin-bottom: 30px;
  padding:  25px 45px 25px 0px;
  font-weight: bold;
  box-shadow: 5px 5px 5px 5px#d7d7d7;
  width: 90%;
}

section li {
  margin-left: 20px;
}

/* main */
#restaurants > ul > li.flex-item1 > figure,
#restaurants > ul > li.flex-item2 > figure {
  position: relative;
 }
 
#restaurants > ul > li.flex-item1 > figure > figcaption > label,
#restaurants > ul > li.flex-item2 > figure > figcaption > label {
  background-color: #99e2d0;
  position: absolute;
  right: 30px; top: 20px;
  padding:10px 20px 10px 20px;
  font-weight: bold;
  color: #2d7261;  
}

main img {
  width: 100%;
  height: auto;
  border-radius: 25px 25px 0 0;
}

article figure {
  margin: 0 10px 20px 10px;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 5px 5px 5px 5px#d7d7d7;
}

article {
  background-color: #f2f2f2;
  padding-bottom: 20px;
}

article h2 {
  padding: 50px 0 0 15px;
}

main ul {
  padding-left: 0;
}

/* figcaption */
figcaption { 
  display: flex;
  justify-content:space-between;  
  color: #000;
  margin-bottom: 20px; 
}

main figcaption h3,p {
  margin:0;
  padding: 5px 0 0 10px;
  color: #000;
}

[class="fa-regular fa-heart"]:hover,
[class="fa-regular fa-heart"]:focus,
[class="fa-regular fa-heart"]:active {
  font-weight: bold;
  color: #9356DC;
  font-size: 1.8rem; 
  padding: 10px 30px 0 0;  
  transition: color 2s ease-out;
}

[class="fa-regular fa-heart"] {
  font-size: 1.8rem;
  padding: 10px 30px 0 0;
}

/* footer */
footer h3 {
  font-family: 'Shrikhand';
 
}
footer {
  list-style: none;  
  color: #fff;
  background-color: rgba(0, 0, 0, 0.800);
  font-weight: bold;
  padding: 0 0 10px 10px;
}

footer a {
  color: #fff;
  padding-left: 10px;
}

footer li {
  display:flex;
  align-items: flex-start;
  padding: 0 0 10px 15px;
}
body > footer > section > ul > li:nth-child(3){
  padding-left: 5px;
}

body > footer > section > ul > li:nth-child(4){
  padding-left: 0;
}
footer ul {
  padding-left: 0px;
}

footer h3 {
  padding: 15px 0 0 25px;
  margin-top: 0px;
}

body > div:nth-child(2) > footer > ul > li:nth-child(1) > a > i{
  padding-right: 10px;
}

body > div:nth-child(2) > footer > ul > li:nth-child(2) > a > i {
  padding-right: 5px;
}

/* tablette */
@media (min-width:480px) {

  body > div:nth-child(2) > main > header > a {
    width: 50%;
    margin-left: 25%;
  }

}

/* desktop */

@media (min-width: 767px) {

  header img {
    width: 40%;
  }

  body > div:nth-child(2) > main > header > a {
    width: 25%;
    margin-left: 0;
    margin-left: 35%;
  }

  
  section h2 {
    margin-left: 50px;
    padding-left: 50px; 
  }

  section  {
    margin-left: 0;
  }

  section li {
    width: 70%; 
  }

  section span {
    text-align: center;
    padding-left: 20px;
  }

  article h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  article ul {
    width:100%;
  }

  article li {
    width: 50%;
    margin-left:50px;
  }

  article figure {
    max-width: 90%;
    height: auto;
    object-fit: contain;
  }

  ul {
    display: flex;
    align-content: flex-start;
  }

  footer h3 {
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
  }

  footer ul {
    display:flex;
    justify-content: space-around;
    padding: 30px 0 30px 0;
  }

}