@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
 /* WILDCARD */
 *{
  font-family: 'Shrikhand', cursive;
  font-family: 'Roboto', sans-serif;
  box-sizing:border-box;   
}
/* remplissage progressive du coeur */
[class="fa-regular fa-heart"]:hover,
[class="fa-regular fa-heart"]:focus,
[class="fa-regular fa-heart"]:active {
  font-weight: bold;
  color: #9356DC;
  transition: color 0.5s ease-out; 
  opacity: 0.7;
}

/* apparition progressive des menus de haut en bas */
@keyframes transition {
  0%   { margin-top: -70px;opacity:0; }
  100% { margin-top: 0;opacity:1; }
}

article li {
  position: relative;
  cursor: pointer;
  opacity:0;animation: transition 2s ease-in-out 1s forwards;
  width: 100%;
}

article section {
  opacity:0;animation: transition 2s ease-in-out 1s forwards;
}

/*carte menu apparition du check */
h4, p {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 25px;
}

.card:hover {
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.46);
}

.prix {
  margin-left: auto;
  font-weight: 900;
  padding-right: 1rem;  
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;  
}

.check {
  background: #99e2d0;
  color:#fff;
  font-size: 1.5rem;
  margin-right: -4.1rem;
  width: 4rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: margin-right 500ms;    
  padding: 15px 0 0 25px;
}

.card:hover .check {
  margin-right: 0;
}

.card:hover [class="fa-solid fa-circle-check"] { 
  transform:rotate(360deg);
  transition:ease-in-out 1s;  
  transition: 1s;
  opacity: 1;
}

.desc { 
  margin-top: 0; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px; 
  padding: 5px 5px 5px 10px;
}

h4,p {   
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*fin des animation */

ul,a {
  list-style: none;
  text-decoration: none;
}

#logo {
  border: 0;
  margin-left: 0;
  width: 60%; 
}

body > header > ul {
  margin: 0;
  margin-top: 10px;
}

body > header:nth-child(1) {
  display: flex;
  align-items: flex-start;
}

header i {
  margin: 25px 20px 16px 0; 
  color:#000;
  font-size: 1.5rem;
}

article figure {
  margin:0;
  width: 100%;   
}
/* etiquette nouveau */
figure img {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
}

article header div {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  background-color: #f2f2f2;
  border-radius: 30px 30px 0 0;
  position: absolute;
  top:30%;
  width: 100%; 
  height: 20%;
  margin-bottom: 40px; 
} 

h1 {
  font: 1.7rem 'Shrikhand', sans-serif;
}

[class="fa-regular fa-heart"] {
  font-size: 1.8rem;
}

/* article section */ 
article {
  margin-bottom: 0;
  padding-bottom: 40px;
  background-color: #f2f2f2;
  border-radius: 30px 30px 0 0;
}

article section {
  background-color: #f2f2f2;
}

section h2 {
  text-transform: uppercase;
  padding: 0 0 20px 20px;
  text-decoration-line: underline;
  text-decoration-color: #99e2d0;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 1rem;
  margin-top:10px;
}

article ul {
  padding-left: 0;
  margin: 16px 10px;
}

article h4 {
  padding-bottom: 10px;
  margin-bottom: 0;
}

body > article > button {
  width: auto;
  padding: 20px 60px;
  margin: auto;
  background: linear-gradient(#ff79da,#9356DC); 
  font-weight: bold; 
  color:#f2f2f2;
  display:flex;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px#d7d7d7;
}

body > article > button:hover {
  opacity: 0.7;
}

/* footer */
footer h3 {
  font-family: 'Shrikhand';
}

footer {
  list-style: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.800);
  font-weight: bold;
  padding: 0 0 10px 10px;    
}

footer a {
  color: #fff;
  padding-left: 10px;
}

footer li {
  display:flex;
  align-items: flex-start;
  padding: 0 0 10px 15px;
}

body > footer > section > ul > li:nth-child(3) {
  padding-left: 5px;
}

body > footer > section > ul > li:nth-child(4) {
  padding-left: 0;
}

footer ul {
  padding-left: 0;
}

footer h3 {
  padding: 15px 0 0 25px;
  margin-top: 0;
}

body > footer > ul > li:nth-child(1) > a > i {
  padding-right: 10px;
}

body > footer > ul > li:nth-child(2) > a > i {
  padding-right: 5px;
}

/* tablette */
@media (min-width:768px) 
{
  body > article > header > div {
    position:sticky;
  }

  body > article > header > div{
    top: 50%;
  }
 
  article header div {
    display: block;
    display: flex;
    align-content: flex-start; 
  }

  section h2 {
    padding-top:30px;
  }
  h1 {
    padding-left: 10%;
  }

  h2 {
    text-align: left;
    padding-bottom: 30px;
  }

  section {
    padding-bottom: 30px;
    padding-left: 20%;
  }

  article li {
    width: 80%;  
  }

  .card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
  }
  
  footer {
    position:relative;
  }

  button {
  max-width: 20%; 
  margin: auto;
  }

  ul footer {
    display: flex;
    align-content: flex-start;
  }

  footer h3 {
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
  }

  footer ul {
    display:flex;
    justify-content: space-around;
    padding: 30px 0 30px 0;
  }
}

/* desktop */
@media (min-width: 992px) 
{
  body > header{
    padding-left: 40%;
  }
 
  h1 {   
    padding-left: 32%;
  }

  h2 {
    text-align: left;
    padding-bottom: 30px;
  }

  section {
    padding-bottom: 30px;
    padding-left: 40%;
  }

  article li {
    width: 50%;  
  }

  article button{
    width:10%;
    margin:0;
  }
}
