@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
 /* WILDCARD */
 *{
  font-family: 'Shrikhand', cursive;
  font-family: 'Roboto', sans-serif;
  box-sizing:border-box;   
}

/* page 1 la palettte du gout */
ul,
a {
  list-style: none;
  text-decoration: none;
}

/* header */
#logo {
  border: 0px;
  margin-left: 60px;
  width: 60%; 
}

body > header > ul {
  margin: 0;
  margin-top: 10px;
}

body > header:nth-child(1) {
  display: flex;
  align-items: flex-start;
}

body > header > ul > li > a > i {
  margin: 25px 20px 16px 0; 
  color:#000;
  font-size: 1.5rem;
}

/* article header */ 
article  {
  background-color: #f2f2f2;
  margin-bottom: 0;
  padding-bottom: 40px;
}

article figure {
  margin:0;
  width: 100%;   
}

figure img {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
}

article header div {
  display: flex;
  align-items: baseline;
  padding-left: 0;
  border-radius: 30px 30px 0 0;
  top:40%;
  background-color: #f2f2f2;
  position: absolute;
  width: 100%; 
  margin:0; 
} 

h1 {
  padding: 0 20px 0 20px;
  font: 1.9rem 'Shrikhand', sans-serif;
}

[class="fa-regular fa-heart"] {
  font-size: 1.8rem;
}

/* article section */ 
section {
  padding-top: 40px;
}

section h2 {
  text-transform: uppercase;
  padding: 20px;
  text-decoration-line: underline;
  text-decoration-color: #99e2d0;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 1rem;
}

body > article > section:nth-child(2) > h2 {
  padding-top: 20px;
  margin-top:40px;
}

section ul {
  padding: 5px;
}

section li {
  border:1px solid #f2f2f2;
  background-color: #fff;
  border-radius: 20px;
  margin: 25px 0px 25px 3px;
  padding-left: 20px;
  box-shadow: 5px 5px 5px 5px#d7d7d7;
}

article p { 
  margin-top: 0px; 
  display:flex;
  justify-content: space-between;
}
div.menu {
  position :relative;
}
article span {
  font-weight: bold;
  position: absolute;
  right: 30px;
  bottom: 40px;
  padding:30px 0 0 100px;
}

body > article > button {
  background: linear-gradient(#ff79da,#9356DC); 
  font-weight: bold;
  margin: 70px 0 40px  70px;
  padding: 20px 6px;
  width: 60%;
  color:#f2f2f2;
  display:flex;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 25px;
}

/* footer */
footer h3 {
  font-family: 'Shrikhand';
}

footer {
  list-style: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.800);
  font-weight: bold;
  padding: 0 0 10px 10px;    
}

footer a {
  color: #fff;
  padding-left: 10px;
}

footer li {
  display:flex;
  align-items: flex-start;
  padding: 0 0 10px 15px;
}

body > footer > section > ul > li:nth-child(3){
  padding-left: 5px;
}

body > footer > section > ul > li:nth-child(4){
  padding-left: 0;
}
footer ul {
  padding-left: 0px;
}

footer h3 {
  padding: 15px 0 0 25px;
  margin-top: 0px;
}

body > footer > ul > li:nth-child(1) > a > i{
  padding-right: 10px;
}

body > footer > ul > li:nth-child(2) > a > i {
  padding-right: 5px;
}

/* animation */

/* remplissage progressive du coeur */
[class="fa-regular fa-heart"]:hover,
[class="fa-regular fa-heart"]:focus,
[class="fa-regular fa-heart"]:active {
  font-weight: bold;
  color: #9356DC;
  transition: color 2s ease-out; 
}

/* apparition progressive des menus de haut en bas */
@keyframes transition {
  0%   { margin-top: -70px;opacity:0; }
  100% { margin-top: 0;opacity:1; }
}

article li {
  position: relative;
  cursor: pointer;
  opacity:0;animation: transition 2s ease-in-out 1s forwards;
  width: 100%;
}

/* apparition progressive du check de droite à gauche */

section button { 
  background: #99e2d0;
  color:#fff;
  background-color:#99e2d0;
  padding: 28px 30px 28px 30px;
  font-size: 2rem;
  font-weight: bold; 
  position: absolute;
  right:0%;
  bottom: 0%;
  border-radius: 0 15px 15px 0;  
  border:0;
  opacity: 0;
}
 
@keyframes apparition {
  0% {
    transform: scale(0);
    transform-origin: right;
    margin-left: -30%;
    margin-left:-50px; 
    width:0%;
    
  }
  
  60% {
    transform: scale(1);
    transform-origin: right;
    padding-left: 10px;
    width:20%;
  }

  100% {  
    padding-left: 20px;
    animation-delay: 5s;
    opacity:1;
    width:30%;
  }
}

section button:hover, 
section button:focus {
  animation: apparition 1s;
  transition: 2s;     
  animation-fill-mode: forwards;
}

/* animation rotation */

@keyframes check {
  0% {
    transform: rotate(0deg);
  }
 
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
} 

[class="fa-solid fa-circle-check"]:hover {
  animation: check 1s;
  transform:rotate(360deg);
  transition:ease-in-out 1s;
  opacity:1;animation: check 1s;
}

/* prix de droite a gauche */
@keyframes transition2 {
  0%   { margin-right: 0px;}
  100% {margin-right: 60px; }
}

section span:hover {
  animation: transition2 1s;
  transition: 1s;
  opacity: 1;
}

/* texte rogné */
h3,p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

div.menu:hover,
div.menu:focus,
div.menu:active {
  margin-right: 14px;
  animation: transition2 1s;
  transition-property: margin-right;
  transition-duration: 4s;
  transition-delay: 1s;
  width:55%;
}

/* tablette */
@media (min-width:480px) {
  body > article > header > div{
    top: 50%;
  }
 
  section h2 {
    padding-top:40px;
  }
}

/* desktop */

@media (min-width: 767px) {
  body > header{
    padding-left: 40%;
  }
 
h1 {
  padding-left: 40%;
}

h2 {
  text-align: center;
  padding-bottom: 30px;
}

section {
  padding-bottom: 30px;
}

footer {
  position:relative;
}

button {
  max-width: 20%; 
  
}

ul footer {
  display: flex;
  align-content: flex-start;
}

footer h3 {
  text-align: center;
  font-size: 2rem;
  padding-top: 30px;
}

footer ul {
  display:flex;
  justify-content: space-around;
  padding: 30px 0 30px 0;
}

}
